# Python cache
__pycache__/
*.pyc

# Virtual environment (VERY IMPORTANT)
venv/

# Dataset files (IMPORTANT decision)
data/
*.csv

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/